<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../node_modules/sweetalert2/dist/sweetalert2.css">
    <title>Logout</title>
</head>

<body>
    <script>
        // Obtém a mensagem da URL
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');
        
        // Exibe a mensagem em um alert
        if (message) {
            alert(message);
        }
    </script>

    <!-- Botão de logout -->
    <button id="logoutButton">Sair</button>

    <script src="../../../node_modules/sweetalert2/dist/sweetalert2.js"></script>
    <script>
        // Adicione um evento de clique ao botão "Sair"
        document.getElementById('logoutButton').addEventListener('click', function() {
            // Exibe um alerta de confirmação usando SweetAlert2
            Swal.fire({
                title: 'Tem certeza?',
                text: 'Você deseja sair?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sim, sair',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                // Se o usuário clicar em "Sim, sair", redirecione para a página de login
                if (result.isConfirmed) {
                    window.location.href = '/admin';
                }
            });
        });
    </script>
</body>

</html>
